<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<style>
	table,tr,td{
	border:1px solid #95A098;
	}
.ui-popup-guanbi{height:20px;width: 20px;margin-top:-10px;margin-left:390px;
		background:url('__ROOT__/public/images/close21.png');cursor:pointer;}
.key{
			float:right;
			margin:-2.8% 0.5% 0px 0px;
			background:url(__ROOT__/public/images/sousuo.png) no-repeat;
			border:hidden;
			width:165px;
			    height: 25px;
		}
</style>
<title>晋中公安监管信息网</title>
</head>
<body style="background-color: #64A1EB;">
	<table width="100%" style="border:1px solid #95A098; text-align:center;" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="6" align="center">{$ifo['title']}</td>
		</tr>
		<tr>
			<td>签收单位</td>
			<td>签收状况</td>
			<td>签收人</td>
			<td>签收时间</td>
			<td>签收IP</td>
			<td>操作</td>
		</tr>
		<volist name="arr" key="k" id="v">
		<volist name="v.sg" id="vv">
		<tr style="background-color:{:$k%2==NULL?'#F1F5FE':'#CCE8CF'}">
			<td>{$v.fname}</td>
			<td style="color:blue;">已签收</td>
			<td>{$vv.userid}</td>
			<td>{$vv.dateandtime}</td>
			<td>{$vv.ip}</td>
			<td><button style="color:#AFC6E2;cursor:pointer;" >已签收</button></td>
		</tr>
		</volist>
		
		</volist>
	</table>
</body>
</html>