<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>晋中公安监管信息系统</title>
<link href="__ROOT__/public/css/reset.css" type="text/css" rel="stylesheet" />
<script src="__ROOT__/library/js/guanli.js"></script>
<style>
	body{
		background-image:url('__ROOT__/public/images/320.jpg');
		background-attachment: fixed;
		background-repeat: no-repeat;
		
}
</style>
<script>
//删除图片
function delImg(id){
	if(confirm("是否删除该记录")){
		window.location = '__ROOT__/admin.php/Rotation/delete/id/'+id;
	}
}
</script>
<script>
//确定所选
  function determine(){
    var valArr = new Array; 
    for(var i=0;i<iobj.length;i++){
      //判断每一个iobj[i]的checked属性
      if(iobj[i].checked==true){
        var id = iobj[i].value; 
        valArr.push(id);
      }
    }
    var vals = valArr.join('.');//转换为逗号隔开的字符串
    console.log(vals);
    
      if(confirm("是否删除")){
        // document.getElementById("taken_").innerHTML = "<span style='color:green;'>已还书</span>";
         window.location = '__ROOT__/admin.php/Rotation/deleted/id/'+vals;
        }
  
  }
</script>
</head>
<body><br><br>
<h3 style="text-align: center;">导航列表</h3><br>
	<table width="90%" border="1" align="center" style="text-align: center">
							<tr>
								<th>导航</th>
								<th>链接</th>
								<th>操作</th>
								<th>批量操作</th>
							</tr>
							<foreach name="Img" item="v" key="k">
							<tr style="background-color:{:$k%2==NULL?'#FFFFFF':'#F1F5FE'}">
								<td>{$v.title}</td>
								<td>{$v.imagepath}</td>
								<td><a href="javascript:void(0)" onclick="delImg({$v.id})">删除</a></td>
								<td><input type="checkbox" name="ids[]" id="{$v.id}" value="{$v.id}"/></td> 
							</tr>
							</foreach>
							<tr>
								<td colspan="3" align="center" class="pagelist">{$pageList}</td>
								<td colspan="1" align="center" style="cursor:pointer">
    <a href="javascript:selectAll()">全选</a>&nbsp;|&nbsp;<a href="javascript:fselectAll()">反选</a>&nbsp;|&nbsp;<a href="javascript:determine();">确定所选</a>
     </td>
							</tr>
						</table>
</body>
</html>