<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>晋中公安监管信息系统</title>
  <link href="__ROOT__/public/css/reset.css" type="text/css" rel="stylesheet" />
<script src="__ROOT__/library/js/guanli.js"></script>
<style>
  body{
    background-image:url('__ROOT__/public/images/320.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
</style>
</head>
<body>
<script>
//确定所选
  function determine(){
    var valArr = new Array; 
    for(var i=0;i<iobj.length;i++){
      //判断每一个iobj[i]的checked属性
      if(iobj[i].checked==true){
        var id = iobj[i].value; 
        valArr.push(id);
      }
    }
    var vals = valArr.join('.');//转换为逗号隔开的字符串
    console.log(vals);
    
      if(confirm("是否删除")){
        // document.getElementById("taken_").innerHTML = "<span style='color:green;'>已还书</span>";
         window.location = '__ROOT__/admin.php/User/deleted/id/'+vals;
        }
  
  }
</script>
<br/><br/>
	<h3 align="center">用户列表</h3>
       <br>
        <table border="1" align="center" width="90%" cellpadding="0" class="box" cellspacing="0" style="text-align: center;">
          <tr height="30" style="font-weight:bold;">
            <td>姓名</td>
            <td>电话</td>
            <td>权限</td>
            <td>操作</td>
            <td>批量操作</td>
          </tr>
          <volist name="arr" id="v">
          	<tr height="25">
            <td>{$v.username}</td>
            <td>{$v.tel}</td>
            <td><if condition="$v.stint ==1 ">
              超级管理员
              <else/>
              普通管理员
            </if>
            </td>

            <td><a href="__ROOT__/admin.php/User/update/id/{$v.id}">修改</a>&nbsp;&nbsp;<a href="#" onclick="delNews({$v.id})">删除</a></td>
             <td><input type="checkbox" name="ids[]" id="{$v.id}" value="{$v.id}"/></td> 
          </tr>
          </volist>
          <tr>
        	  <tr>
    <td colspan="3" align="center" class="pagelist">{$pageList}</td>
    <td colspan="1" align="center" style="cursor:pointer">
    <a href="javascript:selectAll()">全选</a>&nbsp;|&nbsp;<a href="javascript:fselectAll()">反选</a>&nbsp;|&nbsp;<a href="javascript:determine();">确定所选</a>
     </td>

       </tr>
     	 </tr>
        </table>
 <script type="text/javascript">
	//删除新闻
	function delNews(articleId){
		if (confirm("是否删除该用户")) {
			window.location = "__ROOT__/admin.php/User/delete/Id/"+articleId;
		}
	}
    </script>
</body>
</html>